<phpunit
	stopOnFailure="false"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	verbose="true">
    <testsuites>
        <testsuite>
            <file>./tests/wp-cldr-tests.php</file>
        </testsuite>
    </testsuites>
</phpunit>
